@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-black: #000000;
  --color-dark-gray: #1a1a1a;
  --color-white: #ffffff;
  --color-deep-purple: #5f3fff;
  --color-light-purple: #a293ff;
  --color-pink: #dabfff;
}
body {
  font-family: "Pretendard", Arial, sans-serif;
}
