@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-black: #000000;
  --color-dark-gray: #1a1a1a;
  --color-white: #ffffff;
  --color-deep-purple: #5f3fff;
  --color-light-purple: #a293ff;
  --color-pink: #dabfff;
  --header-height: 70px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* 브라우저 높이를 100%로 고정 */
  overflow: hidden; /* 기본 스크롤 방지 */
  -ms-overflow-style: none; /* IE, Edge 스크롤바 숨기기 */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera용 스크롤바 숨기기 */
}
body {
  font-family: "Pretendard", Arial, sans-serif;
}

.form-input {
  @apply w-full text-base py-[13px] px-[14px] rounded-lg border-[#78787E] border bg-transparent text-white;
}
.form-input:focus {
  @apply bg-transparent outline-none;
}
.form-label {
  @apply block text-sm font-medium mb-2 text-white;
}

.header-height {
  height: calc(100% - 60px);
  overflow: hidden;
}
.footer-height {
  height: calc(100% - 50px);
}

.px-40 {
  padding: 0 40px;
  width: 100%;
}
.poor-story {
  font-family: "Poor Story", serif;
}

.hi-melody {
  font-family: "Hi Melody", sans-serif;
}

.gaegu {
  font-family: "Gaegu", sans-serif;
}

.dongle {
  font-family: "Dongle", sans-serif;
}
.gradient-text {
  background: linear-gradient(180deg, #867cdd 0%, #eec8ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purple-gradient {
  background: linear-gradient(180deg, #867cdd 0%, #eec8ff 100%);
}
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.gradient-overlay {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
